<br>

<br>
<br>
<br>

<header (showMenu)="popup.searchmenu()"
        (hideMenu)="popup.searchmenuhide()"
        (searchemit)="searchCalled($event)"
        (showLogin)="login.buka()">
</header>
<searchpopup #popup [term]='searchValue'></searchpopup>

<div (click)="popup.visibility='hidden'" class="centerer">
  <div  class="content">
    <div>
      <div class="prodhead">{{idCat}}</div>
      <span [routerLink]="['/home']"><div class="seemore">Back to Home</div></span></div><br><br>
    <div class="line-separator"></div>
    <div class="borderproduct" *ngFor="let category of categories">
      <div [routerLink]="['/detailprod',category.id]">
      <img width="150px" height="150px" src="{{server}}/public/product/{{category.product_store_key}}/{{ category.id }}/1.jpg"/><br>
      <div class="butproduct">
        <div class="prodname">{{ category.product_name }}</div>
        <div class="prodprice">RP: {{ category.product_price | currency:'IDR'|slice:3}}</div>
      </div>
      </div>
    </div>

    <br>
    <p-paginator [(rows)]="pageSize"
                 [(totalRecords)]="totalElement"
                 pageLinkSize="10"
                 (onPageChange)="paginate($event)">
    </p-paginator>
  </div>
</div>
