.container{
    background: rgba(102, 87, 255, 0.46);
    position: fixed;
    padding:5px;
    width:449px;
    height:400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 5px #888888;
}

.content{
    text-align: center;
    padding:10px;
}

.butloggin{
    background: rgba(255, 0, 0, 0.46);
    padding: 5px;
    width:195px;
    margin-top:20px;
    cursor: hand;
    cursor: pointer;
}
.butfblog{
    background: rgba(102, 87, 255, 0.46);
    padding: 5px;
    width:195px;
    margin-top:20px;
}

input{
    height:25px;
    width:200px;
    margin-bottom: 10px;
}

a{
  text-align: center;
  padding:14px;
}

.buttonclose{
  border: rgba(96, 131, 255, 0);
  background: rgba(51, 102, 153, 0);
}
