<div class="container" >
  <p-tabView >
    <p-tabPanel header="Login Sebagai Pembeli" leftIcon="fa-user" >
      <div class="content">
        <input type="text" pInputText placeholder=" Username..."  [(ngModel)]="username"/>
        <input type="password"  pPassword placeholder=" Password..." [(ngModel)]="password"  />
        <button pButton class="butloggin" type="button" label="MASUK" (click)="login(username,password,'2')"></button>
        <button pButton class="butloggin" type="button" label =" ">
          <h4>Login With Facebook</h4>
          <img width="30px" height="30px" src="imagemanagement/fb.png" alt="Close" style="margin: 10px">
        </button>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Login Sebagai Penjual" leftIcon="fa-user-o">
      <div class="content">
        <input type="text" pInputText placeholder=" Seller Name..."  [(ngModel)]="username"/>
        <input type="password"  pPassword placeholder=" Seller Password..." [(ngModel)]="password"  />
        <button pButton class="butloggin" type="button" label="Login to Seller Area" (click)="login(username,password,'1')"></button>
        <button pButton class="butloggin" type="button" label =" ">
          <h4>Login With Facebook</h4>
          <img width="30px" height="30px" src="imagemanagement/fb.png" alt="Close" style="margin: 10px">
        </button>
      </div>
    </p-tabPanel>
  </p-tabView>
  <span>
  <button pButton icon="fa-window-close" class="ui-g-1 buttonclose" (click)="tutup()"></button>
  <a href="" class="ui-g-10">Belum punya account?</a>
</span>
</div>
