<div class="datatabletransaksi">
  <p-dataTable [value]="transactionbookeds" expandableRows="true" class="ui-grid ui-grid-responsive ui-fluid">
    <p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"></p-column>
    <p-column field="product_name" header="Produk"></p-column>
    <p-column field="transaction_date" header="Tanggal book" [style]="{'width':'130px'}">
      <ng-template let-col let-car="rowData" pTemplate="body">
        <span>{{car[col.field] | date}}</span>
      </ng-template>
    </p-column>
    <p-column field="transaction_status" header="Status" [style]="{'width':'80px'}"></p-column>
    <p-column field="transaction_quantity" header="Jumlah" [style]="{'width':'80px'}"></p-column>

    <p-column field="product_discount_after" header="Harga ">
      <ng-template let-col let-car="rowData" pTemplate="body">
        <span>Rp : {{car[col.field] | currency:'IDR'|slice:3}}</span>
      </ng-template>
    </p-column>
    <p-column field="product_discount_after" header="Harga X Jumlah">
      <ng-template let-col let-car="rowData" pTemplate="body">
        <span>Rp : {{car[col.field] * car.transaction_quantity| currency:'IDR'|slice:3}}</span>
      </ng-template>
    </p-column>
    <ng-template let-car pTemplate="rowexpansion">
      <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-3" style="text-align:center">
            <img width="150px" height="150px"
                 src="{{server}}/public/product/{{car.store_key}}/{{car.product_id}}/1.jpg">
          </div>
          <div class="ui-grid-col-3">
            <div class="ui-grid ui-grid-responsive ui-grid-pad">
              <div class="ui-grid-row">
                <div>{{car.product_name}}</div>
              </div>
              <div class="ui-grid-row">
                <div>Price Before Discount : {{car.product_price| currency:'IDR'|slice:3}}</div>
              </div>
              <div class="ui-grid-row">
                <div>You saved : {{(car.product_price - car.product_discount_after)  * car.transaction_quantity| currency:'IDR'|slice:3}}</div>
              </div>
              <div class="ui-grid-row">
                <div>With discount {{car.product_discount}}% </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-10">{{car.color}}</div>
              </div>
            </div>
          </div>
          <div class="ui-grid-col-12" style="text-align:justify">
            {{car.product_description | slice:0:1000}}
          </div>
        </div>
      </div>
    </ng-template>
    <p-footer class="ui-grid ui-grid-responsive ui-fluid">
      <div id="total" class="ui-grid-col-5"> TOTAL : Rp. {{totalpricebooked | currency:'IDR'|slice:3}} </div>
    </p-footer>
  </p-dataTable>
</div>


<div class="datatabletransaksi">
  <p-dataTable [value]="transactiononprogress" expandableRows="true" class="ui-grid ui-grid-responsive ui-fluid">
    <p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"></p-column>
    <p-column field="product_name" header="Produk"></p-column>
    <p-column field="transaction_date" header="Tanggal book" [style]="{'width':'130px'}">
      <ng-template let-col let-car="rowData" pTemplate="body">
        <span>{{car[col.field] | date}}</span>
      </ng-template>
    </p-column>
    <p-column field="transaction_status" header="Status" [style]="{'width':'80px'}"></p-column>
    <p-column field="transaction_quantity" header="Jumlah" [style]="{'width':'80px'}"></p-column>

    <p-column field="product_discount_after" header="Harga ">
      <ng-template let-col let-car="rowData" pTemplate="body">
        <span>Rp : {{car[col.field] | currency:'IDR'|slice:3}}</span>
      </ng-template>
    </p-column>
    <p-column field="product_discount_after" header="Harga X Jumlah">
      <ng-template let-col let-car="rowData" pTemplate="body">
        <span>Rp : {{car[col.field] * car.transaction_quantity| currency:'IDR'|slice:3}}</span>
      </ng-template>
    </p-column>
    <ng-template let-car pTemplate="rowexpansion">
      <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-3" style="text-align:center">
            <img width="150px" height="150px"
                 src="{{server}}/public/product/{{car.store_key}}/{{car.product_id}}/1.jpg">
          </div>
          <div class="ui-grid-col-3">
            <div class="ui-grid ui-grid-responsive ui-grid-pad">
              <div class="ui-grid-row">
                <div>{{car.product_name}}</div>
              </div>
              <div class="ui-grid-row">
                <div>Price Before Discount : {{car.product_price| currency:'IDR'|slice:3}}</div>
              </div>
              <div class="ui-grid-row">
                <div>You saved : {{(car.product_price - car.product_discount_after)  * car.transaction_quantity| currency:'IDR'|slice:3}}</div>
              </div>
              <div class="ui-grid-row">
                <div>With discount {{car.product_discount}}% </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-10">{{car.color}}</div>
              </div>
            </div>
          </div>
          <div class="ui-grid-col-12" style="text-align:justify">
            {{car.product_description | slice:0:1000}}
          </div>
        </div>
      </div>
    </ng-template>
    <p-footer class="ui-grid ui-grid-responsive ui-fluid">
      <div id="total" class="ui-grid-col-5"> TOTAL : Rp. {{totalpriceonprogress | currency:'IDR'|slice:3}} </div>
    </p-footer>
  </p-dataTable>
</div>


<div class="datatabletransaksi">
  <p-dataTable [value]="transactionssuccess" expandableRows="true" class="ui-grid ui-grid-responsive ui-fluid">
    <p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"></p-column>
    <p-column field="product_name" header="Produk"></p-column>
    <p-column field="transaction_date" header="Tanggal book" [style]="{'width':'130px'}">
      <ng-template let-col let-car="rowData" pTemplate="body">
        <span>{{car[col.field] | date}}</span>
      </ng-template>
    </p-column>
    <p-column field="transaction_status" header="Status" [style]="{'width':'80px'}"></p-column>
    <p-column field="transaction_quantity" header="Jumlah" [style]="{'width':'80px'}"></p-column>

    <p-column field="product_discount_after" header="Harga ">
      <ng-template let-col let-car="rowData" pTemplate="body">
        <span>Rp : {{car[col.field] | currency:'IDR'|slice:3}}</span>
      </ng-template>
    </p-column>
    <p-column field="product_discount_after" header="Harga X Jumlah">
      <ng-template let-col let-car="rowData" pTemplate="body">
        <span>Rp : {{car[col.field] * car.transaction_quantity| currency:'IDR'|slice:3}}</span>
      </ng-template>
    </p-column>
    <ng-template let-car pTemplate="rowexpansion">
      <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-3" style="text-align:center">
            <img width="150px" height="150px"
                 src="{{server}}/public/product/{{car.store_key}}/{{car.product_id}}/1.jpg">
          </div>
          <div class="ui-grid-col-3">
            <div class="ui-grid ui-grid-responsive ui-grid-pad">
              <div class="ui-grid-row">
                <div>{{car.product_name}}</div>
              </div>
              <div class="ui-grid-row">
                <div>Price Before Discount : {{car.product_price| currency:'IDR'|slice:3}}</div>
              </div>
              <div class="ui-grid-row">
                <div>You saved : {{(car.product_price - car.product_discount_after)  * car.transaction_quantity| currency:'IDR'|slice:3}}</div>
              </div>
              <div class="ui-grid-row">
                <div>With discount {{car.product_discount}}% </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-10">{{car.color}}</div>
              </div>
            </div>
          </div>
          <div class="ui-grid-col-12" style="text-align:justify">
            {{car.product_description | slice:0:1000}}
          </div>
        </div>
      </div>
    </ng-template>
    <p-footer class="ui-grid ui-grid-responsive ui-fluid">
      <div id="total" class="ui-grid-col-5"> TOTAL : Rp. {{totalpricesuccess | currency:'IDR'|slice:3}} </div>
    </p-footer>
  </p-dataTable>
</div>

<div class="datatabletransaksi">
  <p-dataTable [value]="transactionfails" expandableRows="true" class="ui-grid ui-grid-responsive ui-fluid">
    <p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"></p-column>
    <p-column field="product_name" header="Produk"></p-column>
    <p-column field="transaction_date" header="Tanggal book" [style]="{'width':'130px'}">
      <ng-template let-col let-car="rowData" pTemplate="body">
        <span>{{car[col.field] | date}}</span>
      </ng-template>
    </p-column>
    <p-column field="transaction_status" header="Status" [style]="{'width':'80px'}"></p-column>
    <p-column field="transaction_quantity" header="Jumlah" [style]="{'width':'80px'}"></p-column>

    <p-column field="product_discount_after" header="Harga ">
      <ng-template let-col let-car="rowData" pTemplate="body">
        <span>Rp : {{car[col.field] | currency:'IDR'|slice:3}}</span>
      </ng-template>
    </p-column>
    <p-column field="product_discount_after" header="Harga X Jumlah">
      <ng-template let-col let-car="rowData" pTemplate="body">
        <span>Rp : {{car[col.field] * car.transaction_quantity| currency:'IDR'|slice:3}}</span>
      </ng-template>
    </p-column>
    <ng-template let-car pTemplate="rowexpansion">
      <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-3" style="text-align:center">
            <img width="150px" height="150px"
                 src="{{server}}/public/product/{{car.store_key}}/{{car.product_id}}/1.jpg">
          </div>
          <div class="ui-grid-col-3">
            <div class="ui-grid ui-grid-responsive ui-grid-pad">
              <div class="ui-grid-row">
                <div>{{car.product_name}}</div>
              </div>
              <div class="ui-grid-row">
                <div>Price Before Discount : {{car.product_price| currency:'IDR'|slice:3}}</div>
              </div>
              <div class="ui-grid-row">
                <div>You saved : {{(car.product_price - car.product_discount_after)  * car.transaction_quantity| currency:'IDR'|slice:3}}</div>
              </div>
              <div class="ui-grid-row">
                <div>With discount {{car.product_discount}}% </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-10">{{car.color}}</div>
              </div>
            </div>
          </div>
          <div class="ui-grid-col-12" style="text-align:justify">
            {{car.product_description | slice:0:1000}}
          </div>
        </div>
      </div>
    </ng-template>
    <p-footer class="ui-grid ui-grid-responsive ui-fluid">
      <div id="total" class="ui-grid-col-5"> TOTAL : Rp. {{totalpricefail | currency:'IDR'|slice:3}} </div>
    </p-footer>
  </p-dataTable>
</div>




