<div class="mainhead" >
  <div class="centerer">
      <div [ngClass]="['navbar', navbarShrink]" track-scroll (scrolled)="onScrolled($event)">
        <img [routerLink]="['/home']" [ngClass]="['ico-qyubix', icoQyubixShrink]" src="imagemanagement/logo.png">
          <div class="search-wrapper">
            <input
              type="text"
              [ngClass]="['search-field', searchFieldShrink]"
              placeholder=" Search keywords..."
              [(ngModel)]="term"
              (ngModelChange)="searchPopupOnChange()"
            />
            <div [routerLink]="['/searchresult',term]"  [ngClass]="['search-button', searchButtonShrink]">SEARCH</div>
          </div>
        <div [ngClass]="['button-beforeShrink', buttonBsShrink]"
             [ngStyle]="{'background':btnLoginColor}"
              (click)="showloginPopUp()">{{btnLoginText}}</div>
        <div [ngClass]="['button-beforeShrink', buttonBsShrink]" >DAFTAR</div>

        <div [ngClass]="['button-afterShrink', buttonAsShrink]" >DAFTAR</div>
        <div [ngClass]="['button-afterShrink', buttonAsShrink]" >{{btnLoginText}}</div>
        <div [ngClass]="['button-afterShrink', buttonAsShrink]" >KATEGORY</div>
        <div [ngClass]="['button-afterShrink', buttonAsShrink]" >DOWNLOAD OUR APP</div>
      </div>

      <div [ngClass]="['navbar-second',navbarShrinkSecond]" track-scroll (scrolled)="onScrolled($event)">
        <div class="menus">FAVORIT</div>
        <div class="menus">KATEGORI</div>
        <div class="menus">MARKET</div>
        <div class="menus">BLOG</div>
        <div class="menus">DOWNLOAD OUR APP</div>
      </div>
  </div>
</div>


<p-dialog [(visible)]="visibleLoginPopup" modal="modal" dismissableMask="modal">
  <login></login>
</p-dialog>


