.navbar-second {
  width: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.98);
  -webkit-transition: all 0.5s;
  transition: all 0s;
}

.navbar-shrink-second {
  visibility: collapse;
}

.seperator{
  width: 100%;
  background: white;
}

.menus{
  padding:5px;
  float: left;
  margin-left:55px;
  color: whitesmoke;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
}

.menus:hover{
  background: #6083ff;
}

.button-beforef:hover{
  background: #6083ff;
}

.button-afterShrink{
  visibility: hidden;
  height:0px;
  width:0px;
  margin-right: 0px;
}

.button-afterShrink-shrink{
  margin-right: 20px;
  margin-top:10px;
  visibility: visible;
  background: transparent;
  color: #fff;
  float: left;
  cursor: pointer;
  height:auto;
  width:auto;
  -webkit-transition: all 0.5s;
  transition: all 2.1s;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
}

.button-afterShrink:hover{
  color: blue;
}



