.mainhead{
  top:0px;
  position: fixed;
  width: 100%;
}

.centerer {
  margin:auto;
  width:1400px;
  overflow: hidden;
}


.search-field {
  margin-top:10px;
  margin-left: 100px;
  border-bottom-color: red;
  border-right-color: red;
  border-top-color: black;
  border-left-color: black;
  border-bottom-width: 5px;
  outline:none;
  height:35px;
  width:600px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  float: left;
}

.search-field-shrink {
  margin-left:30px;
  margin-top: 10px;
  height:20px;
  width:350px;
  border-bottom-width: 2px;
}


.navbar {
  width: 100%;
  background: rgba(0, 0, 0, 0.98);
  padding: 15px 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

.navbar-shrink {
  background: rgba(0, 0, 0, 0.79);
  padding:2px;
  opacity: 7.9;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.ico-qyubix{
  margin-left:50px;
  margin-top:10px;
  height:40px;
  width:100px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  float: left;
}

.ico-qyubix-shrink{
  margin-top: 10px;
  height:27px;
  width:70px;
}

.search-button {
  margin-top:11px;
  background: red;
  text-align: center;
  vertical-align: middle;
  line-height: 43px;
  width:80px;
  height:43px;
  cursor: pointer;
  color: #fff;
  float: left;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
}

.search-button-shrink {
  margin-right:100px;
  margin-top: 12px;
  line-height: 25px;
  height: 23px;
}

.search-wrapper:hover  > .search-field {
  border-bottom-color: #6083ff;
  border-right-color: #6083ff;
  border-top-color: #6083ff;
  border-left-color: #6083ff;
}

.search-wrapper:hover > .search-button{
  background: #6083ff;
}

.button-beforeShrink{
  margin-top:11px;
  margin-left: 10px;
  float: left;
  border: 0;
  background: #ff030c;
  color: #fff;
  cursor: pointer;
  outline: 0;
  padding: 13px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.1s;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
}

.button-beforeShrink-shrink{
  visibility: hidden;
  width: 0px;
  height:0px;
  margin-left: 0px;
}

.button-beforeShrink:hover{
  background: #6083ff;
}

