<br>
<br>
<br>


<header (showMenu)="popup.searchmenu()"
        (hideMenu)="popup.searchmenuhide()"
        (searchemit)="searchCalled($event)"
        (showLogin)="login.buka()">
</header>
<searchpopup #popup [term]='searchValue' id="popmen"></searchpopup>


<div (click)="popup.visibility='hidden'" style="width: 100%;  overflow: auto;">
<div  class="centerer">
<div class="content">
    <div>
        <div class="prodhead">Hasil pencarian dari keyword {{name}}</div>
        <span [routerLink]="['/home']"><div class="seemore">Back to Home</div></span></div><br><br>
    <div class="line-separator"></div>
    <div class="borderproduct" *ngFor="let search of searches">
      <div [routerLink]="['/detailprod',search.id]">
        <img width="150px" height="150px" src="{{server}}/public/product/{{search.product_store_key}}/{{ search.id }}/1.jpg"/><br>
        <div class="butproduct">
          <div class="prodname">{{ search.product_name }}</div>
          <div class="prodprice">RP: {{ search.product_price | currency:'IDR'|slice:3}}</div>
        </div>
      </div>
    </div>

    <br>
    <p-paginator [(rows)]="pageSize"
                 [(totalRecords)]="totalElement"
                 pageLinkSize="10"
                 (onPageChange)="paginate($event)">
    </p-paginator>
</div>
</div>
</div>



