<div class="ui-g">
  <div class="ui-g-8">
    <p>Tabel Perbandingan Tahun Lahir Dan Tahun Mendaftar</p>
          <canvas baseChart
                  [datasets]="birthVsSignUpData"
                  [labels]="birthVsSignUpUser"
                  [options]="birthVsSignUpOption"
                  [colors]="birthVsSignUpData"
                  [legend]="birthVsSignUpLegend"
                  chartType="line"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
  </div>
  <div class="ui-g-4">
    <p>Transaksi Status Chart</p>
      <canvas baseChart width="50px" height="50px"
              [data]="transactionVsStatus"
              [labels]="transactionVsStatusLabel"
              chartType="doughnut"
              [colors]="ChartColours"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>


<div class="ui-g">
  <div class="ui-g-12 ">
    <p>Statistik Diskon berdasarkan Penjual</p>
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="transactionVsYearOption"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
  </div>
</div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<!--<div class="col-md-6" style="position: relative; height:40vh; width:80vw">-->
  <!--<table class="table table-responsive table-condensed">-->
    <!--<tr>-->
      <!--<th *ngFor="let label of userarr">{{label}}</th>-->
    <!--</tr>-->
    <!--<tr *ngFor="let d of lineChartData">-->
      <!--<td *ngFor="let label of userarr; let j=index">{{d && d.data[j]}}</td>-->
    <!--</tr>-->
  <!--</table>-->
  <!--<button (click)="randomize()">CLICK</button>-->
<!--</div>-->
