<div>
  <app-sellerareaheader></app-sellerareaheader>
</div>

<p-tabView>
  <p-tabPanel header="Transaksi" leftIcon="fa-shopping-cart ">
    <app-datatable></app-datatable>
  </p-tabPanel>
  <p-tabPanel header="Statistik" leftIcon="fa-line-chart">
    <app-productinfo></app-productinfo>
  </p-tabPanel>
  <p-tabPanel header="Report" leftIcon="fa-file-text-o">
    <app-report></app-report>
  </p-tabPanel>
  <p-tabPanel header="Email" leftIcon="fa-envelope-o">
    <app-email></app-email>
  </p-tabPanel>
</p-tabView>

