table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
  background-color:#fff;
}
table th {
  background-color: black;
  color: white;
}

.buttonlogout{
  margin-top:11px;
  margin-left: 10px;
  float: left;
  border: 0;
  background: #ff030c;
  color: #fff;
  cursor: pointer;
  outline: 0;
  padding: 13px 20px;
}

.buttonadmin{
  align-content: center;
  right:100px;

  margin-top:11px;
  margin-left: 10px;
  float: left;
  border: 0;
  background: #336699;
  color: #fff;
  cursor: pointer;
  outline: 0;
  padding: 13px 20px;
}

.buttonlogout:hover{
  background: #6083ff;
}

/* You can add global styles to this file, and also import other style files */

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis-title {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}


.axis--x path {
  /*display: none;*/
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}



.segment{
  width: 200px;
}

:host /deep/ .ui-tabview-panel{
  box-shadow: 1px 1px 5px #888888 inset;
}
