<header (showMenu)="popup.searchmenu()"
        (hideMenu)="popup.searchmenuhide()"
        (searchemit)="searchCalled($event)">
</header>
<home></home>
<searchpopup #popup  [term]='searchValue'></searchpopup>

