.img-circle {
  border-radius: 50%;
}

*, :after, :before {
  box-sizing: content-box;
}
/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

#close{
  cursor: pointer;
  cursor: hand;
}

#butfblog{
  cursor: pointer;
  cursor: hand;
}
.cssload-container{
  display: block;
  margin: auto;
  width:49px;
}

.cssload-loading{
  width: 44px;
  height: 44px;
  text-align: left;
  animation:cssload-loading-ani1 2.3s ease-in-out infinite;
  -o-animation:cssload-loading-ani1 2.3s ease-in-out infinite;
  -ms-animation:cssload-loading-ani1 2.3s ease-in-out infinite;
  -webkit-animation:cssload-loading-ani1 2.3s ease-in-out infinite;
  -moz-animation:cssload-loading-ani1 2.3s ease-in-out infinite;
}
.cssload-loading i,
.cssload-loading i:before{
  content: "";
  width: 44px;
  height: 44px;
  position: absolute;
}
.cssload-loading i{
  border-radius: 50%;
  overflow: hidden;
}
.cssload-loading i:nth-child(1){
  background: rgb(255,89,84);
  transform:translate(0,-24px);
  -o-transform:translate(0,-24px);
  -ms-transform:translate(0,-24px);
  -webkit-transform:translate(0,-24px);
  -moz-transform:translate(0,-24px);
}
.cssload-loading i:nth-child(1):before{
  background: rgb(0,168,206);
  bottom: 0;
  animation:cssload-loading-ani2 2.3s ease-in-out infinite;
  -o-animation:cssload-loading-ani2 2.3s ease-in-out infinite;
  -ms-animation:cssload-loading-ani2 2.3s ease-in-out infinite;
  -webkit-animation:cssload-loading-ani2 2.3s ease-in-out infinite;
  -moz-animation:cssload-loading-ani2 2.3s ease-in-out infinite;
}
.cssload-loading i:nth-child(2){
  background: rgb(0,168,206);
  transform:translate(0,24px);
  -o-transform:translate(0,24px);
  -ms-transform:translate(0,24px);
  -webkit-transform:translate(0,24px);
  -moz-transform:translate(0,24px);
}
.cssload-loading i:nth-child(2):before{
  animation:cssload-loading-ani2 2.3s ease-in-out infinite;
  -o-animation:cssload-loading-ani2 2.3s ease-in-out infinite;
  -ms-animation:cssload-loading-ani2 2.3s ease-in-out infinite;
  -webkit-animation:cssload-loading-ani2 2.3s ease-in-out infinite;
  -moz-animation:cssload-loading-ani2 2.3s ease-in-out infinite;
  background: rgb(255,89,84);
}

@keyframes cssload-loading-ani1{
  40%,50%{
    transform:rotate(180deg);
  }
  90%,100%{
    transform:rotate(360deg);
  }
}

@-o-keyframes cssload-loading-ani1{
  40%,50%{
    -o-transform:rotate(180deg);
  }
  90%,100%{
    -o-transform:rotate(360deg);
  }
}

@-ms-keyframes cssload-loading-ani1{
  40%,50%{
    -ms-transform:rotate(180deg);
  }
  90%,100%{
    -ms-transform:rotate(360deg);
  }
}

@-webkit-keyframes cssload-loading-ani1{
  40%,50%{
    -webkit-transform:rotate(180deg);
  }
  90%,100%{
    -webkit-transform:rotate(360deg);
  }
}

@-moz-keyframes cssload-loading-ani1{
  40%,50%{
    -moz-transform:rotate(180deg);
  }
  90%,100%{
    -moz-transform:rotate(360deg);
  }
}

@keyframes cssload-loading-ani2{
  40%,100%{
    height:100%;
  }
  50%,90%{
    height:0;
  }
}

@-o-keyframes cssload-loading-ani2{
  40%,100%{
    height:100%;
  }
  50%,90%{
    height:0;
  }
}

@-ms-keyframes cssload-loading-ani2{
  40%,100%{
    height:100%;
  }
  50%,90%{
    height:0;
  }
}

@-webkit-keyframes cssload-loading-ani2{
  40%,100%{
    height:100%;
  }
  50%,90%{
    height:0;
  }
}

@-moz-keyframes cssload-loading-ani2{
  40%,100%{
    height:100%;
  }
  50%,90%{
    height:0;
  }
}

